*{
    font-family: 'Baskervville', serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .menu-toggle{
    display: none;
  }
  
  .logo img {
    height: 40px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-left: 2rem;
  }
  
  nav ul {
    list-style-type: none;
    margin-right: 5rem;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    padding-left: 3rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 320vh;
    width: 100vw;
  }
  
  .image-container {
    position: relative;
    height: 75vh;
    overflow: hidden;
  }
    
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .services-section {
    text-align: center;
    align-items: center;
    background-color: azure;
 }
  
  .services-section h2 {
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 41px;
    color: rgb(20, 22, 190);
    padding-top: 2rem;

  }
  .services-section p{
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 2rem;

  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 4rem;
    margin-left: 4rem;

  }
  
  .service {
    width: 300px;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 3rem;  
}
  
  .service img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .service h3 {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    color: rgb(20, 22, 190);
  }
  
  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: rgba(42, 42, 230, 0.688);
    border-radius: 10px;
    width: 99vw;
}
.contact-text p{
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: white;
}
.contact-text p,
.contact-bttn p{
    font-family: 'Varela Round', sans-serif;
}
.contact-bttn{
    display: flex;
    justify-content: space-between;
    width: 33%;
    padding-bottom: 2rem;
}
.contact-bttn button{
    border-radius: 100px;
    border-style: none;
    font-size: 14px;
    padding: 5px 22px;
    color: white;
    font-weight: 800;
}
#start{
    background-color: #fbb03b;
}
#info{
    background-color: grey;
}
.knowMe{
    width: 100vw;
    margin-bottom: auto;
}
.conoceme{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conoceme img{
    height: 45rem;
    border-radius: 20px;
    margin-top: 1rem;
    margin-right: 1rem;
    
}
.myself{
    height: auto;
    width: 60vh;
    padding: 20px;
    text-align: center;
    font-weight: 200;
}
.myself h2{
  padding: 1rem;
}
#myRoad{
    font-size: 20px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
}
.footer {
    display: flex;
    width: 100vw;
    background-color: #f2f2f2;
    padding: 20px 0px 0px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-section {
    margin: 10px;
  }

  .footer-section img{
    height: 4rem;
  }
  
  .footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #000;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  @media only screen and (max-width: 738px) {
    *{
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    *::-webkit-scrollbar {
      display: none; /* Chrome / Safari / Opera */
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer / Edge */
    }
    header {
      flex-direction: row-reverse;
      align-items:center;
      justify-content: space-between;
    }
    body{
      display: flex;
   
      flex-direction: column;
    }
    .menu-toggle{
      display: flex;
    }
  
    .logo {
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: auto;
      padding-left: 0;
    }
    .logo img{
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 0.5rem;
    }
  
    nav ul {
      display: none;
    }

    .service img{
      display: none;
    }
    .contact{
      margin: auto;
    }

    .contact-text{
      text-align: center;
      width: 90vw;
    }
    #myRoad{
      font-weight: 200;
      line-height: 1.5;
    }
    .contact-bttn{
      width: 90vw;
    }
    .knowMe img{
      display: none;
    }
    .footer-section ul,
    .footer-section img{
      display: none;
    }
    .footer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 768px) {
    .service {
      width: 100%;
      margin: 0;
      margin-bottom: 1.5rem;
    }
  }
  